{%- raw -%}
{% comment %} ---Settings--- {% endcomment %}
{% comment %} ------Logout redirect------ The URL the user will be redirected to after logging out. Default is current page, or the value of redirect paramter on logout button tag if set. {% endcomment %}
{% assign logout_redirect = context.location.pathname | default: _redirect %}
{% comment %} ---End Settings--- {% endcomment %}

<div>
  {% form %}
    <button type="button" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" onclick="siteglide_logout_process(this,'{{logout_redirect}}')">Log Out</button>
  {% endform %}
</div>
{%- endraw -%}