{% raw %}
{% comment %} ---Settings--- {% endcomment %}
{% comment %} ------Reset Password Form URL------ By default this links to the forgot password page which is designed for logged out users, but for better experience create a page with a form with change password enabled for already logged in users.{% endcomment %}
{% assign reset_password_form_url = "/system/recover-password" %}
{% comment %} ---End Settings--- {% endcomment %}
<section class="sg-hero sg-hero-01a" style="background: url('https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80') no-repeat center center/cover transparent">
</section>
<section style="margin-top: -5rem;" class="sg-account-details sg-account-details-01 sg-feature bg-transparent pt-lg-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card sg-card">
          <div class="card-header sg-card-header">
            <h3 class="mt-3">My Account</h3>
          </div>
          <div class="card-body sg-card-body">
            <div class="row">
              <div class="sg-order-details col-12 col-md-8"><!--USER ORDERS-->
                <div class="row pt-3 pb-3">
                  <div class="col-12 ps-4">
                    <h4>My Orders</h4>
                  </div>
                </div>
                <div class="row">
                  <table class="table text-center">
                    {%- include 'modules/siteglide_secure_zones/user_orders', sort_type: 'id', sort_order: 'desc', layout: layout -%}
                  </table>
                </div>
              </div>
              <div class="sg-user-details col-12 col-md-4"><!--USER DETAILS-->
                <div class="row pt-3 pb-3">
                  <div class="col-12 ps-4">
                    <h4>My Details</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 pt-2 pb-2 ps-4 ">
                    <p class="mb-1">Name: {{context.current_user.first_name}} {{context.current_user.last_name}}</p>
                    <p class="mb-4">Email: {{context.current_user.email}}</p>
                    <a href="{{reset_password_form_url}}">Change my Password</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endraw %}