{%- raw -%}
{% comment %} ---Settings--- {% endcomment %}
{% comment %} ---End Settings--- {% endcomment %}
{% capture sitegurus_ui_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}

<footer class="bg-white shadow dark:bg-gray-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{"now" | date: "%Y"}} <a href="/" class="hover:underline">{{context.exports.company_information.properties['company_name']}}™</a>. All Rights Reserved.
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        {%- include 'modules/siteglide_menu/get/get_items', item_layout: 'item' -%}
      </ul>
    </div>
  </div>
</footer>
{%- endraw -%}