<section class="sg-team sg-team-01a sg-bg-light">
  <div class="container text-center">
    <h2>Eget nunc mi</h2>
    <div class="row row-cols-1 row-cols-lg-3">
      <div class="col mb-5">
        <div class="card sg-card border-0">
          <div class="card-img sg-card-img">
            <img class="mw-100" src="https://images.unsplash.com/photo-1575658611223-50bba1e5355a?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=416&amp;q=80" alt="Image 1" width="416">
          </div>
          <div class="card-body sg-card-body">
            <h3>Diam nec.</h3>
            <figcaption>Egestas etiam quam etiam ac. Amet.</figcaption>
            <p>Auctor nibh fermentum, cras tortor nunc, sapien at varius. Justo blandit a accumsan, facilisis. Eget justo.</p>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card sg-card border-0 mb-5 mb-lg-0">
          <div class="card-img sg-card-img">
            <img class="mw-100" src="https://images.unsplash.com/photo-1573113062125-2ccf3cbb67df?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=416&amp;q=80" alt="Image 2" width="416">
          </div>
          <div class="card-body sg-card-body">
            <h3>Diam nec.</h3>
            <figcaption>Egestas etiam quam etiam ac. Amet.</figcaption>
            <p>Auctor nibh fermentum, cras tortor nunc, sapien at varius. Justo blandit a accumsan, facilisis. Eget justo.</p>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card sg-card border-0 mb-5 mb-lg-0">
          <div class="card-img sg-card-img">
            <img class="mw-100" src="https://images.unsplash.com/photo-1517466787929-bc90951d0974?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=416&amp;q=80" alt="Image 3" width="416">
          </div>
          <div class="card-body sg-card-body">
            <h3>Diam nec.</h3>
            <figcaption>Egestas etiam quam etiam ac. Amet.</figcaption>
            <p>Auctor nibh fermentum, cras tortor nunc, sapien at varius. Justo blandit a accumsan, facilisis. Eget justo.</p>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card sg-card border-0 mb-5 mb-lg-0">
          <div class="card-img sg-card-img">
            <img class="mw-100" src="https://images.unsplash.com/photo-1512582037627-b286c8515481?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=416&amp;q=80" alt="Image 4" width="416">
          </div>
          <div class="card-body sg-card-body">
            <h3>Diam nec.</h3>
            <figcaption>Egestas etiam quam etiam ac. Amet.</figcaption>
            <p>Auctor nibh fermentum, cras tortor nunc, sapien at varius. Justo blandit a accumsan, facilisis. Eget justo.</p>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card sg-card border-0 mb-5 mb-lg-0">
          <div class="card-img sg-card-img">
            <img class="mw-100" src="https://images.unsplash.com/photo-1512588966017-9add7f6bee7c?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=416&amp;q=80" alt="Image 5" width="416">
          </div>
          <div class="card-body sg-card-body">
            <h3>Diam nec.</h3>
            <figcaption>Egestas etiam quam etiam ac. Amet.</figcaption>
            <p>Auctor nibh fermentum, cras tortor nunc, sapien at varius. Justo blandit a accumsan, facilisis. Eget justo.</p>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card sg-card border-0 mb-5 mb-lg-0">
          <div class="card-img sg-card-img">
            <img class="mw-100" src="https://images.unsplash.com/photo-1593766818891-892421791902?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=416&amp;q=80" alt="Image 6" width="416">
          </div>
          <div class="card-body sg-card-body">
            <h3>Diam nec.</h3>
            <figcaption>Egestas etiam quam etiam ac. Amet.</figcaption>
            <p>Auctor nibh fermentum, cras tortor nunc, sapien at varius. Justo blandit a accumsan, facilisis. Eget justo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>