{% raw %}
{% capture sitebuilder_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}
{% comment %}If inserted inside a WebApp layout, this will inherit the ID of that WebApp item, else, you can override this by passing in a delete_item_id parameter.{% endcomment %}
{% assign delete_item_id = delete_item_id | default: this.id %}
<button type="button" onclick="s_owned_webapp_delete('{{this.id}}', '{{context.authenticity_token}}')" onkeyup="if(event.keycode == 13) {s_owned_webapp_delete('{{this.id}}', '{{context.authenticity_token}}')}" class="btn btn-danger">
  Delete
</button>
<script>
</script>
{% endraw %}