{% raw %}
<footer class="sg-footer sg-footer-01a">
	<div class="container">
		<div class="row text-center text-md-start">
			<div class="col-12 col-md-3 d-md-flex">
				<a class="d-inline-block mb-5 mb-md-0 me-md-5" href="/" title="Logo">
					<img src="{{context.exports.company_information.properties.logo | asset_url}}" width="164" />
				</a>
			</div>
			<div class="col-12 col-md-6 d-md-flex justify-content-md-center">
        <ul class="row list-unstyled">
          {%- include 'modules/siteglide_menu/get/get_items', item_layout: 'item' -%}
        </ul>
			</div>
			<div class="col-12 col-md-3">
				<ul class="list-unstyled d-flex justify-content-center justify-content-md-end mt-3 mt-md-0">
          {% if context.exports.company_information.properties.facebook_account != blank %}
            <li class="sg-icon sg-icon-md mx-2 mx-md-3">
              <a href="{{context.exports.company_information.properties.facebook_account}}" title="Find us on Facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
          {% endif %}
          {% if context.exports.company_information.properties.instagram_account != blank %}
            <li class="sg-icon sg-icon-md mx-2 mx-md-3">
              <a href="{{context.exports.company_information.properties.instagram_account}}" title="Find us on Instagram">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          {% endif %}
          {% if context.exports.company_information.properties.twitter_account != blank %}
            <li class="sg-icon sg-icon-md mx-2 mx-md-3">
              <a href="{{context.exports.company_information.properties.twitter_account}}" title="Find us on Twitter">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          {% endif %}
				</ul>
			</div>
		</div>
	</div>
</footer>
{% endraw %}