{%- raw -%}<div class="col-12 mb-5">
  <div class="form-group">
    <span class="form-label d-block">Enter Payment Details</span>
    <input {{attributes}} name="{{ form_builder.fields.properties.order_id.name }}" id="s_e_order_id" type="hidden" />
    <input id="s_e_form" value="true" type="hidden">
    <div class="form-control">
      {%- include 'ecommerce/basic_payment', amount: form_payment_amount, currency: form_payment_currency -%}
    </div>
  </div>
</div>{%- endraw -%}