{%- raw -%}<div {% if context.current_user.id != blank and hide_email_while_logged_in == 'true' %}style="visibility: hidden; height: 0;"{% endif %} class="col-12  mb-3">
  <div class="form-group">
    <label class="form-label" for="s_email">Email Address</label>
    <input required type="email" id="s_email" class="form-control  required" name="{{name}}" {% if context.exports.is_logged_in.data -%}readonly value="{{ session.current_user.email }}"{% endif %}>
  </div>
</div>{%- endraw -%}