{%- raw -%}{% if context.current_user.id == blank or include_password_editor == 'true' or include_email_editor == 'true' -%}
  <div class="col-12  mb-3">
    <div class="form-group">
      <label class="form-label" for="s_password">{% if context.current_user.id != blank %}{% if include_password_editor == 'true' or include_email_editor == 'true' -%}Enter Current Password to Authorize Changes{% endif %}{% else %}Password{% endif %}</label>
      <input class="form-control required" required id="s_password" type="password">
    </div>
  </div>
{% endif %}{%- endraw -%}