{%- raw -%}<div class="col-12  mb-5">
  <div class="form-group">
    <span class="form-label d-block">Verify</span>
    <div class="form-control">
      {% include 'recaptcha' -%}
    </div>
  </div>
</div>{%- endraw -%}