<section class="sg-content sg-content-01a">
  <div class="container">
    <h2 class="text-center">Nunc amet etiam</h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi. Suspendisse ac odio vitae velit porta tincidunt. Etiam vulputate interdum tellus vitae tincidunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi. Suspendisse ac odio vitae velit porta tincidunt. Etiam vulputate interdum tellus vitae tincidunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi. Suspendisse ac odio vitae velit porta tincidunt. Etiam vulputate interdum tellus vitae tincidunt.</p>
      </div>
      <div class="col-12 col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi. Suspendisse ac odio vitae velit porta tincidunt. Etiam vulputate interdum tellus vitae tincidunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi. Suspendisse ac odio vitae velit porta tincidunt. Etiam vulputate interdum tellus vitae tincidunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi. Suspendisse ac odio vitae velit porta tincidunt. Etiam vulputate interdum tellus vitae tincidunt.</p>
      </div>
    </div>
  </div>
</section>