<section class="sg-content sg-content-04a">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-4 mb-5 mb-lg-0">
        <h2>Cursus pharetra in</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem elit, ornare id fringilla venenatis, ac nisi.</p>
        <p><a href="#" title="Lorem Ipsum">Lorem ipsum</a></p>
      </div>
      <div class="col-12 col-lg-4 mb-5 mb-lg-0">
        <h2>Enim consequat odio</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi.</p>
        <p><a href="#" title="Lorem Ipsum">Lorem ipsum</a>
        </p>
      </div>
      <div class="col-12 col-lg-4 mb-5 mb-lg-0">
        <img class="rounded-3 mw-100" src="https://images.unsplash.com/photo-1590305504523-3ce0ba800052?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=440&amp;q=80" alt="Image 1" width="440">
      </div>
    </div>
  </div>
</section>