{% raw %}
{% assign remainder = forloop.index | modulo: 3 -%}
<div class="align-self-stretch col-12 col-md-4 d-flex mb-5">
   <div class="card p-5 sg-bg-secondary text-center {% if remainder == 2 -%}sg-bg-white border border-primary border-3{% endif- %}{% if remainder == 0 -%}sg-bg-white border-0{% endif -%}">
      <h5 class="{% if remainder == 1 -%}text-white {% endif -%} mb-4">{{this['Title']}}</h5>
      <p class="{% if remainder == 1 -%}text-white{% endif -%}">{{this['Description'] | truncatewords: 50}}</p>
      <div class="pb-5 pt-3">
         <a href="{{ this['full_slug'] }}">
             <button class="btn btn-primary sg-btn sg-btn-primary">Read More</button>
         </a>
      </div>
   </div>
</div>
{% endraw %}