<section class="sg-team sg-team-09 sg-bg-light">
  <div class="container">
    <div class="row bg-white py-5 px-md-4">
      <div class="col-12">
        <div class="row py-5">
          <div class="col-12 col-md-4 offset-md-1 d-flex flex-column justify-content-center mb-5 mb-md-0">
            <div class="row">
              <div class="col-12">
                <h1 class="mb-5">Nunc magna praesent.</h1>
                <p class="mb-5">Vitae sit adipiscing non etiam egestas at. Elit tellus est arcu et id sollicitudin turpis sed massa. Eu lectus nullam massa arcu faucibus elementum, lacus. In tellus convallis mauris integer natoque amet a. Vestibulum, elementum scelerisque tellus orci arcu ultrices. Pulvinar duis lectus enim amet amet porta quis. Enim aliquam purus eget nunc in lacinia.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary sg-btn sg-btn-primary py-2 px-5 w-60">Vitae sit</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 offset-md-1">
            <img class="mw-100 mh-100 rounded" src="https://images.unsplash.com/photo-1544298621-35a764866ff0?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=540&amp;h=540&amp;q=80" alt="sg-team-09" width="540" height="540">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>