{% raw %}
<div class="col-12 col-md-6">
  <div class="bg-white sg-card p-5 mb-5">
    <p>"{{this['Quote']}}"</p>
    <p class="fw-bold mb-1">{{this['name']}}</p>
    <p class="fw-bold">{{this['Job Title']}}, {{this['Company Name']}}</p>
  </div>
</div>
{% endraw %}