<section class="sg-testimonial sg-testimonial-01a">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-8 offset-lg-2">
        {%- include 'modules/siteglide_system/get/get_items', item_layout: 'item' -%}
      </div>
    </div>
  </div>
</section>