{%- raw -%}
  {%- if this['is_parent'] -%}
    {% comment %} Tabs Layout does not currently support multi-levels or dropdowns. {% endcomment %}
  {%- else -%}
    <li class="{% unless forloop.last %}mr-2{% endunless %}">
      <a {% if this['link_target'] %} target="{{this['link_target']}}"{% endif %} href="{{this['link_url']}}" {% if this['link_url'] == context.location.pathname %}aria-current="page"{% endif %} class="{% if this['link_url'] == context.location.pathname %}inline-block p-4 text-primary-600 rounded-t-lg border-b-2 border-primary-600 active dark:text-primary-500 dark:border-primary-500 {% else %} inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 {% endif %}">{{this['link_name']}}</a>
    </li>
  {%- endif -%}
{%- endraw -%}
