{%- raw -%}
<nav class="bg-gray-50 dark:bg-gray-800 border-b border-gray-200
dark:border-gray-700">
  <div class="pt-8 px-4 mx-auto max-w-screen-xl sm:pt-16 lg:px-6">
    <div class="text-sm font-medium text-center text-gray-500  dark:text-gray-400 ">
      <ul class="flex flex-wrap -mb-px">
        {%- include 'modules/siteglide_menu/get/get_items', item_layout: 'item' -%}
      </ul>
    </div>
  </div>
</nav>
{%- endraw -%}