{%- raw -%}<div class="col-span-6 sm:col-full">
  <div class="">
    <span class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 d-block">Verify</span>
    <div class="form-control">
      {% include 'recaptcha' -%}
    </div>
  </div>
</div>{%- endraw -%}