{% raw %}
<button class="btn btn-primary sg-btn sg-btn-primary px-4 py-2 me-2 mb-4" onclick="s_e_cart_add('{{this.id}}')">Add to cart</button>

<button class="btn btn-primary sg-btn sg-btn-secondary px-4 py-2 mb-4" onclick="s_e_cart_add('{{this.id}}',product_buy_now)">Buy now</button>
<script>
	function product_buy_now() {
		window.location.href = "{{cart_url}}";
	}
</script>
{% endraw %}