{%- raw -%}<div class="col-12  mb-3">
  <div class="form-group">
    <input {{attributes}} name="{{ form_builder.fields.properties.order_id.name }}" id="s_e_order_id" type="hidden" />
    <input id="s_e_form" value="true" type="hidden">
    <div class="form-control">
      {%- include 'ecommerce/quote_only' -%}
    </div>
  </div>
</div>{%- endraw -%}