{%- raw -%}
<div class="col-12  mb-3">
  <div class="form-group">
    <span class="form-label d-block">Verify</span>
    <div class="form-control">
      {% if captcha_type == "recaptcha" %}
        {% include 'recaptcha' -%}
      {% elsif captcha_type == "hcaptcha" %}
        {% spam_protection 'hcaptcha' %}
      {% endif %}
    </div>
  </div>
</div>
{%- endraw -%}