{% raw %}
{% if context.current_user %} 
  {% if is_favourite != true  %}
    <a class="toggle-wishlist" onClick="user_add_to_favourites({{this.favourite_item}},toggle_success)">Add to wishlist</a>
  {% elsif is_favourite == true %}  
    <a class="toggle-wishlist" onClick="user_remove_from_favourites({{this.favourite_item}},toggle_success)">Remove from wishlist</a>
  {% endif %}
{% endif %}
<script>
function toggle_success(type,name,button_element) {
	if(type == "add") {
		alert(name + " added to wishlist");
	} else if (type == "remove") {
		alert(name + " removed from wishlist");
	}	
	location.reload()
}
</script>
{% endraw %}