<section class="sg-feature sg-feature-full-width-01 bg-light">
  <div class="container-fluid">
    <div class="row bg-white">
      <div class="col-12 col-md-6 px-0 px-md-0">
        <img class="mw-100" src="https://images.unsplash.com/photo-1503525523076-ca4aa2e47535?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=705&amp;h=462&amp;q=80" alt="sg-feature-full-width-01">
      </div>
      <div class="align-self-center col-12 col-md-5 mb-5 mb-md-0 offset-md-1 pe-md-5 text-center text-md-start mt-5 mt-md-0">
        <p class="mb-4">LOREM IPSUM</p>
        <h4 class="mb-4 h1">Lorum Ipsum</h4>
        <p class="mb-5 mb-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi</p>
        <button class="btn btn-primary sg-btn sg-btn-primary sg-btn-lg">Default</button>
      </div>
    </div>
  </div>
</section>