<section class="sg-feature sg-feature-full-width-03 bg-light">
  <div class="container-fluid">
    <div class="row bg-white">
      <div class="col-13 col-md-4 offset-md-1 px-3 d-flex flex-column justify-content-center">
        <h1>Lorem Ipsum</h1>
        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi</p>
        <ul class="list-unstyled ms-2">
          <li class="mb-3"><p class="fw-bold"><i class="fas fa-check-circle me-3"></i>  Non consectetur at is posuere id</p></li>
          <li class="mb-3"><p class="fw-bold"><i class="fas fa-check-circle me-3"></i>  Nisl at dictum at</p></li>
          <li class="mb-3"><p class="fw-bold"><i class="fas fa-check-circle me-3"></i>  Magnis tempus mauris</p></li>
          <li class="mb-3"><p class="fw-bold"><i class="fas fa-check-circle me-3"></i>  Amet orci purus libero</p></li>
        </ul>
      </div>
      <div class="col-12 col-md-6 offset-md-1 px-0">
        <img class="mw-100 mh-100" src="https://images.unsplash.com/photo-1502014822147-1aedfb0676e0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=705&amp;h=540&amp;q=80" alt="sg-feature-full-width-03">
      </div>
    </div>
  </div>
</section>