<section class="sg-feature sg-feature-02a">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6">
        <div class="row align-items-center mb-5">
          <div class="col-12 col-lg-3 mb-3 mb-lg-0">
            <span class="fa-stack sg-icon sg-icon-lg sg-fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="far fa-window-maximize fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="col-12 col-lg-9">
            <h2>Pharetra, tempor bibendum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi.</p>
          </div>
        </div>
        <div class="row align-items-center mb-5 mb-lg-0">
          <div class="col-12 col-lg-3 mb-3 mb-lg-0">
            <span class="fa-stack sg-icon sg-icon-lg sg-fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="far fa-window-maximize fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="col-12 col-lg-9">
            <h2>Feugiat massa id</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 offset-lg-1">
        <img class="rounded-3 mw-100" src="https://images.unsplash.com/photo-1516817153573-7b617832a471?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=526&amp;q=80" alt="Image 1" width="526">
      </div>
    </div>
  </div>
</section>