<section class="sg-feature sg-feature-05a">
  <div class="container text-center">
    <h2>Hendrerit dolor, semper quis adipiscing blandit.</h2>
    <p>Commodo cras facilisi facilisi nulla amet sed.</p>
    <div class="row row-cols-1 row-cols-lg-3 mt-5">
      <div class="col">
        <div class="row align-items-center mb-5 mb-lg-0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <span class="fa-stack sg-icon sg-icon-lg sg-fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="far fa-window-maximize fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="col-12 col-lg-8">
            <p><strong>Morbi etiam imperdiet</strong></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row align-items-center mb-5 mb-lg-0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <span class="fa-stack sg-icon sg-icon-lg sg-fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-compress-alt fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="col-12 col-lg-8">
            <p><strong>Vitae luctus bibendum</strong></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row align-items-center mb-5 mb-lg-0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <span class="fa-stack sg-icon sg-icon-lg sg-fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-chart-line fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="col-12 col-lg-8">
            <p><strong>Felis libero fermentum</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>