<section class="sg-feature sg-feature-07 bg-light">
  <div class="container">
    <div class="row bg-white">
      <div class="col-12 col-md-4 offset-md-1 px-0 px-md-3">
        <img class="mw-100 mh-100" src="https://images.unsplash.com/photo-1463694372132-6c267f6ba561?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=446&amp;h=547&amp;q=80" alt="feature-07" width="446" height="547">
      </div>
      <div class="col-12 col-md-5 offset-md-1 d-flex flex-column justify-content-center p-5 p-md-0 pt-md-5 pb-md-5">
        <div class="row">
          <div class="col-12 col-md-6 mb-5">
            <div class="row justify-content-center justify-content-md-start">
              <div class="col-4 px-md-0 mb-3 text-center text-md-start">
                <span class="fa-2x fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-window-maximize fa-stack-1x text-white"></i>
                </span>
              </div>
              <div class="col-12 text-center text-md-start">
                <p class="fw-bold h5">Ornare arcu dui</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-5">
            <div class="row justify-content-center justify-content-md-start">
              <div class="col-4 px-md-0 mb-3 text-center text-md-start">
                <span class="fa-2x fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-window-maximize fa-stack-1x text-white"></i>
                </span>
              </div>
              <div class="col-12 text-center text-md-start">
                <p class="fw-bold h5">Ornare arcu dui</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-5 mb-md-0">
            <div class="row justify-content-center justify-content-md-start">
              <div class="col-4 px-md-0 mb-3 text-center text-md-start">
                <span class="fa-2x fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-window-maximize fa-stack-1x text-white"></i>
                </span>
              </div>
              <div class="col-12 text-center text-md-start">
                <p class="fw-bold h5">Ornare arcu dui</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-0">
            <div class="row justify-content-center justify-content-md-start">
              <div class="col-4 px-md-0 mb-3 text-center text-md-start">
                <span class="fa-2x fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-window-maximize fa-stack-1x" style="color: #fff;"></i>
                </span>
              </div>
              <div class="col-12 text-center text-md-start">
                <p class="fw-bold h5">Ornare arcu dui</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>