<section class="sg-feature sg-feature-08 bg-light">
  <div class="container">
    <div class="row bg-white d-flex flex-row justify-content-center justify-content-md-evenly align-items-center py-md-5 px-md-0 p-3 pt-5">
      <div class="col-14 col-md-5 mb-5 mb-md-0 text-center text-md-start px-md-0 ps-md-5">
        <p class="mb-4">LOREM IPSUM</p>
        <h4 class="mb-4 h1">Lorum Ipsum</h4>
        <p class="mb-5 mb-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi</p>
        <button class="btn btn-primary sg-btn sg-btn-primary sg-btn-lg">Default</button>
      </div>
      <div class="col-12 col-md-5 mt-5 mt-md-0 py-md-5 px-md-0 pe-md-5">
        <div class="mb-5 row text-center text-md-start">
          <div class="col-12 col-md-2 ps-md-0 mb-3 mb-md-0">
            <span class="fa-2x fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-window-maximize fa-stack-1x text-white"></i>
            </span>
          </div>
          <div class="col-12 col-md-10">
            <h5>Ornare arcu dui</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Maecenas lorem elit, ornare id fringilla
              venenatis, tempus ac nisi</p>
          </div>
        </div>
        <div class="row mb-5 mb-md-0 text-center text-md-start">
          <div class="col-12 col-md-2 ps-md-0 mb-3 mb-md-0">
            <span class="fa-2x fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>'
              <i class="fas fa-window-maximize fa-stack-1x text-white"></i>
            </span>
          </div>
          <div class="col-12 col-md-10">
            <h5>Ornare arcu dui</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>