<section class="sg-feature sg-feature-09 bg-light">
  <div class="container">
    <div class="row bg-white p-3 p-md-5">
      <div class="col-12">
        <div class="row py-5 p-md-5">
          <div class="col-12 col-md-7 text-center text-md-start">
            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi</p>
          </div>
        </div>
        <div class="row p-md-5">
          <div class="col-12 col-md-4 text-center text-md-start mb-5 mb-md-0">
            <div class="row mb-3">
              <div class="col-12 ps-md-0">
                <span class="fa-2x fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-window-maximize fa-stack-1x text-white"></i>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="fw-bold h5">Ornare arcu dui</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 text-center text-md-start mb-5 mb-md-0">
            <div class="row mb-3">
              <div class="col-12 ps-md-0">
                <span class="fa-2x fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-window-maximize fa-stack-1x text-white"></i>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="fw-bold h5">Ornare arcu dui</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Maecenas lorem elit, ornare id fringilla venenatis, tempus ac nisi</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 text-center text-md-start mb-5 mb-md-0">
            <div class="row mb-3">
              <div class="col-12 ps-md-0">
                <span class="fa-2x fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-window-maximize fa-stack-1x text-white"></i>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="fw-bold h5">Ornare arcu dui</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Maecenas lorem elit, ornare id fringillavenenatis, tempus ac nisi</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>