{% raw %}
{% comment %} ---Settings--- {% endcomment %}
{% comment %} ------ Cart URL ------ {% endcomment %}
{% assign cart_url = '/cart' %}
{% comment %} ---End Settings--- {% endcomment %}
<section data-product-group class="sg-ecommerce sg-ecommerce-detail-01">
	<div class="container">
		<div class="row">
			{%- include 'modules/siteglide_ecommerce/ecommerce/get/get_products', item_layout: 'item' -%}
		</div>
	</div>
</section>

{% endraw %}