<section class="sg-pricing sg-pricing-01a sg-bg-light">
  <div class="container text-center">
    <div class="row">
      <div class="col-12">
        <h2>Viverra bibendum neque sed</h2>
        <div class="row row-cols-1 row-cols-lg-3">
          <div class="col">
            <div class="card sg-card border-0 mb-5 mb-lg-0">
              <div class="card-header sg-card-header">
                <h3>Sed sit laoreet.</h3>
                <h3><strong>£9.90</strong></h3>
              </div>
              <div class="card-body sg-card-body">
                <span class="fa-stack sg-icon sg-icon-lg sg-fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-money-check fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Amet laoreet.</h4>
                <p>Aenean congue quis amet pharetra ante interdum dignissim neque lacus. Ullamcorper massa amet.</p>
                <a class="btn btn-primary sg-btn sg-btn-primary btn-lg sg-btn-lg" href="#" title="Amet.">Amet.</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card sg-card border-0 mb-5 mb-lg-0">
              <div class="card-header sg-card-header">
                <h3>Sed sit laoreet.</h3>
                <h3><strong>£9.90</strong></h3>
              </div>
              <div class="card-body sg-card-body">
                <span class="fa-stack sg-icon sg-icon-lg sg-fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-money-check fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Amet laoreet.</h4>
                <p>Aenean congue quis amet pharetra ante interdum dignissim neque lacus. Ullamcorper massa amet.</p>
                <a class="btn btn-primary sg-btn sg-btn-primary btn-lg sg-btn-lg" href="#" title="Amet.">Amet.</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card sg-card border-0 mb-5 mb-lg-0">
              <div class="card-header sg-card-header">
                <h3>Sed sit laoreet.</h3>
                <h3><strong>£9.90</strong></h3>
              </div>
              <div class="card-body sg-card-body">
                <span class="fa-stack sg-icon sg-icon-lg sg-fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-money-check fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Amet laoreet.</h4>
                <p>Aenean congue quis amet pharetra ante interdum dignissim neque lacus. Ullamcorper massa amet.</p>
                <a class="btn btn-primary sg-btn sg-btn-primary btn-lg sg-btn-lg" href="#" title="Amet.">Amet.</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>