<section class="sg-pricing sg-pricing-02a">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Viverra ante eget vestibulum</h2>
        <div class="table-responsive-xl">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  <h3>Nibh.</h3>
                  <h3><strong>£99</strong></h3>
                  <button class="btn btn-primary sg-btn sg-btn-primary btn-lg sg-btn-lg">Sapien.</button>
                </th>
                <th scope="col">
                  <h3>Nibh.</h3>
                  <h3><strong>£99</strong></h3>
                  <button class="btn btn-primary sg-btn sg-btn-primary btn-lg sg-btn-lg">Sapien.</button>
                </th>
                <th scope="col">
                  <h3>Nibh.</h3>
                  <h3><strong>£99</strong></h3>
                  <button class="btn btn-primary sg-btn sg-btn-primary btn-lg sg-btn-lg">Sapien.</button>
                </th>
                <th scope="col">
                  <h3>Nibh.</h3>
                  <h3><strong>£99</strong></h3>
                  <button class="btn btn-primary sg-btn sg-btn-primary btn-lg sg-btn-lg">Sapien.</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Lorem ipsum</th>
                <td>Lorem ipsum</td>
                <td>Lorem ipsum</td>
                <td>Lorem ipsum</td>
                <td>Lorem ipsum</td>
              </tr>
              <tr>
                <th scope="row">Lorem ipsum</th>
                <td><span class="sg-icon"><i class="fas fa-check"></i></span></td>
                <td><span class="sg-icon"><i class="fas fa-check"></i></span></td>
                <td><span class="sg-icon"><i class="fas fa-check"></i></span></td>
                <td><span class="sg-icon"><i class="fas fa-check"></i></span></td>
              </tr>
              <tr>
                <th scope="row">Lorem ipsum</th>
                <td></td>
                <td><span class="sg-icon"><i class="fas fa-check"></i></span></td>
                <td><span class="sg-icon"><i class="fas fa-check"></i></span></td>
                <td><span class="sg-icon"><i class="fas fa-check"></i></span></td>
              </tr>
              <tr>
                <th scope="row">Lorem ipsum</th>
                <td></td>
                <td></td>
                <td><span class="sg-icon"><i class="fas fa-check"></i></span></td>
                <td><span class="sg-icon"><i class="fas fa-check"></i></span></td>
              </tr>
              <tr>
                <th scope="row">Lorem ipsum</th>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="sg-icon"><i class="fas fa-check"></i></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>