{% raw %}
{% comment %} ---Settings--- {% endcomment %}
{% comment %} ------ Shop Home URL ------ {% endcomment %}
{% assign shop_home_url = "/" %}
{% comment %} ---End Settings--- {% endcomment %}

<section class="sg-ecommerce sg-ecommerce-cart-01">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <h2 class="h5 sg-h5 mb-3"><span class="sg-icon"><i class="fas fa-shopping-cart me-2"></i></span>Sorry! Your Cart is empty.</h2>
        <a href="{{shop_home_url}}" class="btn btn-primary sg-btn sg-btn-primary px-4 py-2">Continue Shopping</a>
      </div>
    </div>
  </div>
</section>
{% endraw %}