{% raw %}
  {% capture sitebuilder_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}
  {% if total_items > 0 %}
    <section class="bg-white">
      <div class="py-3 py-lg-5 container">
        <!-- Slider main container -->
        <div data-sitebuilder-swiper="{{sitebuilder_uniq_component_id}}" class="swiper">
          <h2 class="text-center mb-5">You’ll be in good company</h2>
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            {%- include 'modules/siteglide_system/get/get_items', item_layout: 'item' -%}
          </div>
          <!-- If we need pagination -->
          
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </section>
    <script>
      if(!window.sitebuilderSwiperConfig ) {
        window.sitebuilderSwiperConfig  = {};
      }
      window.sitebuilderSwiperConfig['{{sitebuilder_uniq_component_id}}'] = {
        initiated: false,
        //Choose any configuration from the docs here: https://swiperjs.com/swiper-api
        config: {
          slidesPerView: 2,
          slidesPerGroup: 2,
          spaceBetween: 30,
          breakpoints: {
            640: {
              slidesPerView: 3,
              slidesPerGroup: 3,
              spaceBetween: 30
            },
            1024: {
              slidesPerView: 5,
              slidesPerGroup: 5,
              spaceBetween: 60
            },
            1280: {
              slidesPerView: 5,
              slidesPerGroup: 5,
              spaceBetween: 80
            }
          },
          longSwipes: true,
          longSwipesRatio: 0.1,
          longSwipesMs: 300,
          autoplay: {
            delay: 5000
          },
          rewind: true,
          grabCursor: true,
          // If we need pagination
          pagination: {
            el: `[data-sitebuilder-swiper='{{sitebuilder_uniq_component_id}}'] .swiper-pagination`,
            clickable: true
          }
        }
      }
      if(typeof window.sitebuilderSwiperInit == 'function') {
        //In case script is loaded already. Run initiation again. Sliders in the config will only be initiated if initiated property is set to false.
        window.sitebuilderSwiperInit();
      }
    </script>
    {% content_for 'siteglide_head_scripts' %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>,,
    {% endcontent_for %}
    {% content_for 'siteglide_footer_scripts' %}
      <script async src="{{'modules/module_86/js/sitegurus_sliders_javascript_api.1.js' | asset_url }}"></script>,,
    {% endcontent_for %}
  {% endif %}
{% endraw %}