<section class="sg-hero sg-hero-03a" style="background: url('https://images.unsplash.com/photo-1465310477141-6fb93167a273?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80') no-repeat center center/cover transparent;">
  <div class="sg-background-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 position-relative">
        <h1 class="sg-hero mb-0">Purus posuere</h1>
      </div>
    </div>
  </div>
</section>