<section class="sg-hero sg-hero-04a">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="sg-hero">Imperdiet tincidunt.</h1>
        <p>Diam nisl pulvinar commodo tortor. Vitae in quis mi, odio platea vel tortor diam ante. Bibendum id consequat nulla elit iaculis dolor scelerisque gravida. Mauris a id sapien nisl nibh. A egestas id amet lorem pharetra non, euismod convallis adipiscing. Euismod odio amet aliquet ut nec. Fringilla eu lacinia id lorem. Et nulla sem eu, sed. Sed blandit id enim quam egestas sed in volutpat. Risus.</p>
      </div>
    </div>
  </div>
</section>