<section class="sg-hero sg-hero-05 sg-bg-light">
  <div class="container-fluid overflow-hidden position-relative px-0">
    <div class="sg-background-overlay"></div>
    <picture class="card-img img-fluid">
      <source media="(max-width: 576px)" srcset="https://images.unsplash.com/photo-1507034589631-9433cc6bc453?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=576&amp;h=402&amp;q=80" class="">
      <source media="(max-width: 577px)" srcset="https://images.unsplash.com/photo-1507034589631-9433cc6bc453?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=768&amp;h=402&amp;q=80">
      <source media="(max-width: 768px)" srcset="https://images.unsplash.com/photo-1507034589631-9433cc6bc453?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=992&amp;h=402&amp;q=80">
      <source media="(max-width: 992px)" srcset="https://images.unsplash.com/photo-1507034589631-9433cc6bc453?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1200&amp;h=402&amp;q=80">
      <source media="(max-width: 1200px)" srcset="https://images.unsplash.com/photo-1507034589631-9433cc6bc453?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1400&amp;h=402&amp;q=80">
      <img src="https://images.unsplash.com/photo-1507034589631-9433cc6bc453?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=2560&amp;h=402&amp;q=80" alt="Rock Climber">
    </picture>
    <div class="card-img-overlay position-absolute start-50 top-50 translate-middle w-100 h-100 d-flex bg-overlay-black-20 py-5">
      <div class="align-self-center col-12">
        <div class="row">
          <div class="col-12">
            <h1 class="display-1 text-center text-white">Lorum Ipsum</h1>
          </div>
        </div>
        <div class="justify-content-center row">
          <div class="col-md-4 col-12 mb-3">
            <p class="text-center text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit Maecenas lorem elit, ornare id fringilla venenatis</p>
          </div>
        </div>
        <div class="justify-content-center row">
          <div class="col-12 col-md-6 d-flex justify-content-center">
            <button class="btn btn-primary mb-md-0 mx-3 sg-btn sg-btn-primary">Default</button>
            <button class="btn btn-primary mx-3 sg-btn sg-btn-secondary">Default</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>